@import 'navbar.css';
@import 'footer.css';

* {
    box-sizing: border-box;
}

body {
    background: #e2e1e0;
}

div.curso {
    width: 100%;
    height: 107vh;
    background-image: url("../img/puc.png");
    background-position: top;
    background-repeat: no-repeat;
}

div.curso > h1 {
    text-transform: uppercase;
    margin: 5% 30% 0% 30%;
}