*{
  box-sizing: border-box;
}
nav a img{
  width: 50px;
}
#busquedaNav{
  width: 70%;
}

#barrabusqueda{
  width: 85%;
}
#log-out{
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  margin-right:  10%;
}
#build{
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  margin-right:  10%;
}
#lupa{
  font-size: 20px;
  color: white;
}
#presentacion{
  position:relative;
  background-image: url("../img/fondo.jpg");
  width:100%;
  height: 500px;
  background-size: cover;
}
#cajanegra{
  margin:0 auto;
  width: 50%;
  height:60%;
  background-color: rgba(0, 0, 0, 0.7);
  position:absolute;
  top:20%;
  left:25%;
  padding:5%;
  border-radius: 20px;
}
#cajanegra p{
  text-align: center;

  font-family:arial;
  color:white;
}
#iconos{
  width:100%;
  text-align:center;
  position:absolute;
  bottom:0;
  left:0;
}
#iconos i{
  margin: 10px;
  font-size:40px;
  color:white;
}
#mas-vistos{
  width:100%;
  padding:5%;
  overflow: hidden;

  text-align:Center;

}
.curso{
  width:20%;
  margin:2.5%;

  float:left;
}
.curso img{
  display:block;
  margin:0 auto;
  width:100%;

}

#contacto{
  width:100%;
  padding:3%;
  background-color:rgba( 0, 0, 5, 0.9);
  color:white;
}
#contacto p{
  text-align: center;
}

#opiniones{
  width:100%;
  padding:3%;
  color:black;
  background-color: rgba(0, 0, 5, 0.3);
  overflow:hidden;
  text-align: center;
}
.opinion{
  width:20%;
  margin:2.5%;
  float:left;
}
.opinion img{
  margin:2%;
  width:30%;
  border-radius:50%;
}
/*
FOOTER
*/
.footer{
  padding-top: 5vh;
  background-color: black;
  width:  100%;
  overflow: hidden;
  font-family: sans-serif;
}

/*
FOOTER
LISTA (CONTACTO, FAQ, HOME)
*/
.lista{
  text-align: left;
  width: 50%;
  float: left;
}
.lista ul{
  list-style: none;
}
.lista ul li a{
  font-size: 18px;
  color: white;
  margin-left: 5%;
}
.lista ion-icon{
  border-radius: 180px;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
}

/*
FOOTER INFO(INC, Lenguajes USADOS)
*/
.info{
  float: right;
  width: 25%;
  color: white;
  margin-top: 5%;
}
.info h4{
  font-family: sans-serif;
  font-size: 15px;
  float: left;
}
.info ion-icon{
  font-size: 30px;
  float: right;
}
.info  a ion-icon {

  color: white;
}
/*Centro de ayuda(faq.html)*/
/*Boton perfil*/
.perfil button{
  border-radius: 100%;
}
.dropdown-menu{
z-index: 1;
}
/*Header*/
.header{
  padding-top: 0;
  overflow: hidden;
  background-color: #e3f2fd;
  position: relative;
}
/*Header usuario con fondo*/
.usuario{
  background-image: url('../img/faqBienvenido.png');
  text-align: center;
  margin-top: 0;
  width: 100%;
  float: left;
  height: 18vh;
}
.seccion{
  margin-left: 5%;
  margin-top: 2%;
  margin-right: 5%;
  width: auto;
  overflow: hidden;
}
.duda{
  float: right;
  font-size: 25px;
  overflow: hidden;
  width: 35%;
}
.duda ul li{
  border-left: black 1px solid;
  padding-left: 5%;
}
/*Mobile*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /*Barra de navegacion*/
  nav a{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
  nav a img{
    width: 100%;
    position: relative;
  }
  #busquedaNav{
    width: 90%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  #barrabusqueda{
    width: 80%;
  }
  #botonLupa{
    margin-left: 2%;
  }
  /*Boton perfil*/
  .perfil{
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    border-radius: 100%;
    position: relative;
  }
  .dropdown-menu{
  z-index: 1;
  background-color: gray;
  }
  .dropdown-item{
    font-size: 15px;
    margin-left: 0;
  }
  /*Header faq MOBILE*/
  .usuario h1{
    font-size: 20px;
  }
  /*Seccion MOBILE*/
  .seccion{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    overflow: inherit;
    text-align: center;
  }
  .duda{
    width: 100%;
    text-align: left;
  }
  .duda ul li a{
    font-size: 15px;
  }
  .contenido h4{
    font-size: 25px;
    margin-bottom: 10%;
  }
  .contenido article{
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right:auto;
  }
  /*FOOTER MOBILE*/
  .footer{
    padding-left: 5%;
    padding-right: 5%;
  }
  .lista{
    width: 90%;
  }
  .info{
      width: 90%;
  }
