@import url('../components/navbar.css');
@import url('../components/footer.css');
.conteiner{
  display: flex !important;/* ETIQUETA QUE POSICIONA UNO AL LADO DEL OTRO */
  flex-wrap: wrap;
}
.sideNavigation{
  background-color: black;
  height: 100vh;
  width: 150px;
  margin-right: 2%;
  justify-content: center;

}
.sideNavigation a{
  list-style: none;
  color: white;
  display: block;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}
.sideNavigation a:last-child{
  position: absolute;
  bottom: 0;
  margin-left: 25px;
  margin-right: 25px;
}
a i{
  margin-right: 5px;
}
#imgSideNav{
  height: 100px;
  width: 100px;
  border-radius: 150px;
  margin-left: 25px;
  margin-right: 25px;
}
.abm-tablist{
}

#logoHOME{
  width: 50px;
  height: 50px;
}

/*EDITAR FORMULARIO*/
.editar-usuario{
  width: 50%;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2vh;
}

.editar-curso{
  width: 50%;
  justify-content: center;
  margin: auto;
  margin-top: 2vh;
}
